
 
 @font-face {
    font-family: ecommcerce;
    src: url(../font/Gilroy-Regular.ttf);
}
*{
    font-family: ecommerce;
}
/* import dưới dạng background*/
.home-banner{
    background-image: url(../img/home-banner.jpg);
    background-position: center;
    margin-bottom: 70px;
}
.about-banner{
    background-image: url(../img/bannerabout.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 780px;
}
.reven-top{

}
a:hover{
    color: rgb(8, 7, 8);
}

a:active{
    color: peru;
}
a{
    text-decoration: none;
}
.cart p{
    display: none;
}
.reason p{
    color:#27AE60;
    font-weight: bold;
    font-size: 18px;
}
.reason p:last-child{
    color: #828282;
    font-size: 16px;
    font-weight: normal;
}
.account::after{
    content: url(../img/right_vector.png);
}
.account a:hover { 
    border-bottom:1px solid black
    }
.cart:hover p{
    display: block;
}
.color{
    width: 12px;
    height: 12px;
}
.submit{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 30px;
}
.privacy{
    background-color: #000000;
    opacity: 80%;
    color: white;
    position:fixed;
    bottom: 50px;
    left: 50px;
    width: 390px;
}
.footer{
    background-color: #F2F2F2;
    list-style-type: none;
}
.arrow::after {
    content: url(../img/arrow1.svg);
}
::selection{
    color: white;
    background-color: black;
}
.shopname{
    text-align: right;
    font-size: 64px;
    font-weight: bold;
}
.arrow{
    vertical-align: bottom ;
}
.nordiccoder{
    text-decoration: underline;
    color: #9B51E0;
}
.uppercase{
    text-transform: uppercase;
    font-weight: bold;
}
.letter-spacing{
    letter-spacing: 0.5em;
}

body{
    font-size: 100%;
}
.contact-info{
    text-align: center;
}
.text-about{
    text-align: center;
    line-height: 190%;
}
.contact p:first-child { 
    font-size: 24px;
}
.tick::before {
    content: url(../img/greentick.svg);
}
.margin-top{
    margin-top: 20px;
}
.thumpnail-active{
    border: 2px solid black;
}
.sort{
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 30px;
}
.border{
    border-radius: 50%;
}
.container{
    margin: auto;
    width: 1000px;
}
.number{
    background-color: #F2F2F2 ;
}

.newcustomer{
    background-image: url(../img/newcustomer.jpg);
    background-position: center;
    width: 1440px;
    height: 610px;
}
.promo{
    background: #FFFFFF;
    opacity: 0.8;
    background-position: center;
    width: 800px;
    height: 450px;
    margin: 80px 320px;
}
.promo p{
    text-align: center;
}

.navigation{
    width: 800px;
    margin: auto;
    background: rgba(255,255,255,0.8);
}
.navigation-top{
    width: 1000px;
    margin: auto;
}

.privacy{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.second-section{
    margin: 70px;
}
.third-section{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-direction-column{
    flex-direction: column;
}
.thumpnail{
    opacity: 0.5;
    width: 80px;
    height: 80px;
}

.thumpnail-active{
    border: 2px solid #000000;
    width: 80px;
}
.main-product-article{
    width: 220px;
}

.container-justify{
    justify-content: center;
}
.mystery{
   
    height: 250px;   
    background-image: url(/img/product3.jpg);
    color: #FFFFFF;
}
.darling{
 
    height: 250px;
    background-image: url(/img/product4.jpg);
    color: white;
}
.beyond{
    height: 250px;  
    background-image: url(/img/product5.jpg);
}
.reven{
    height: 250px;
    background-image: url(/img/product6.jpg);;
}
.lefeminin{
  
    height: 250px;
    background-image: url(/img/product7.jpg);
}
.naturalism{
    
    height: 250px;
    background-image: url(/img/product8.jpg);
    color: #FFFFFF;
}

.justify-content-end{
    justify-content: flex-end;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-container-text{
    display: flex;
    flex-wrap: wrap;
}

.flex-container-about{
    display: flex;
    justify-content: space-around;
}
.flex-about{
    width: auto;
    flex: wrap;
}

.shopping-exp{
    width: 380px;
}
.flex-container-index{
    display: flex;
    justify-content: space-between;
}

.container-index{
    margin: auto;
    width: 1000px;
}
p, ul{
    line-height: 20px;
}
.footer{
    margin-top: 50px;
}
.detail{
    text-align: center;
    text-decoration: none;
}
.detail a:link {
    color:#BDBDBD;
  }

.detail a:active{
    color: black;
  }
  .align-text-center{
      align-items: center;
  }

  .align-text-bottom{
      align-items: flex-end;
  }

.align-item-start{
      align-items: flex-start;
  }

.align-item-end{
    align-items: flex-end;
}

.w-100{
    width: 100%;
}

.w-20{
    width: 20%;
}

.w-40{
    width:40%;
}
.align-content-between{
    align-content: space-between;
}

.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.flex-50{
    flex-basis: 50%;
}

.flex-25{
    flex-basis: 25%;
}

.m-35{
    margin-left: 35px;
}
.position-fix{
    position: fixed;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}
.add-to-cart{
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    
}
.add-to-cart{
    display: none;
}
.add-to-cart:hover{
    display: block;
    animation-name: add-to-cart;
    animation-duration: 0.5;

    @keyframes add-to-cart {
        from {bottom: 0px;}
        to {bottom: 20px;}
    }
}
.home-banner li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-nav > ul{
    display: flex;
}
li ul{
    background-color: white;
    display: none;
    position: absolute;
}

li:hover > ul {
    display: block;
}
.top-nav li{
    position: relative;
}
.sub-menu{
    left: 100%;
    top: 0;
}
.hover-scale:hover{
    transform: scale(1.1);
    transition: 0.5s ;
}
.overflow{
    overflow: hidden;
}

.related-product{
    width: 100%;
    padding: 10px;
}
.sidebar{
    display: none;
}
*{
    box-sizing: border-box;
}
    
    @media screen and (min-width: 600px) {
        .related-product article{
            width: 50%;
        } 

        .sidebar{
            display: block;
        }
    }
    @media screen and (min-width: 992px) {
        .related-product article{
            width: 25%;
        }
    }
/* desktop */
    .mission-vision{
        width: 25%;
        padding: 10px;
    }
/* tablet */
        @media screen and (min-width: 600px) {
            .mission-vision div{
                width: 50%;
            }
            .sidebar {
                display: none;
            }
            } 
        
/* mobile */
        @media screen and (max-width: 600px) {
            .mission-vision div{
                width: 100%;
            }
        }
#collapsibleNavbar > ul{
    display: flex;
}
#collapsibleNavbar.navbar-collapse{
    flex-grow: 0;
}
        